body{
    background-color:rgb(27, 28, 27);
}

.calc{
    width:400px;
    height:600px;
    background-color:rgb(46, 45, 45);
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    border-radius:10px;
}
#screen{
   width:90%;
   height:50px;
   margin-top:20px;
   margin-left:5px;
   pointer-events:none;
   border-radius:5px;
   border:none;
   font-size:30px;
   padding-left:30px;
   color: white;
   background-color:transparent;
   letter-spacing:5px;
}
.btn{
    width:60px;
    height:60px;
    margin-left:30px;
    margin-top:30px;
    background-color:rgb(53, 53, 53);
    color:white;
    border:1px solid  rgb(53, 53, 53);
    box-shadow:1px 1px 9px rgb(107, 110, 108);
    border-radius:200px;
    outline:none;
    font-size:20px;
}

#clearbtn{
    background-color:red;
}

#equalbtn{
    background-color:rgb(5, 226, 255);
}